
body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0px;
}
section{
    height: 400px;
    padding-bottom: 300px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.link-button{
    text-decoration: none;
    border: 10px 20px solid;
    border-radius: 5px;
    padding: 10px 20px;
    
    color: white;
    background-image: linear-gradient(180deg, hotpink ,deeppink );
}
p{
    color: darkgray;
}
.pink-highlighter{
    color:deeppink;
}
.half-width{
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
    float: left;

}
.half-width img{
    width: 100%;
}
#first-banner{
    background-image: url("header-bg.png");
    background-repeat: no-repeat;

}
#second-banner{
    background-image: url("biography-bg.png");
    background-repeat: no-repeat;
}
#third-banner{
    background-image: url("latest-work-bg.png");
    background-repeat: no-repeat;
}
#fourth-banner{
    background-image: url("footer-bg.png");
   
}
.last-work{
    width: 25%;
    padding-left: 2%;
    margin-left: 3%;
    float: left;

}
 .last-work img{
     width: 100%;
 }
 #sub-headings{
    
     text-align: center;
 }
 #footerclass{
     text-align: center ;
 }
 #footer-link-button{
    text-decoration: none;
    
    color: white;
    
 }

#button-footer{
    
    border: 500px 10000px solid;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: deeppink ;
    background-image: linear-gradient(180deg, hotpink, deeppink);
    width: 50%;
    height: 70%;
}

 footer{
     text-align: center;
 }